force-app/main/default/flows/Stripe_Donation_Received_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Payment_Intent_Succeeded</name>
        <label>Get Payment Intent Succeeded</label>
        <locationX>407</locationX>
        <locationY>276</locationY>
        <actionName>stripeGC__v01_CastPaymentIntent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Stripe_Customer_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>requestBody</name>
            <value>
                <elementReference>$Record.stripeGC__Request_Body__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CastPaymentIntent</nameSegment>
        <outputParameters>
            <assignToReference>paymentIntentInfoSuccess.amount</assignToReference>
            <name>amount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>paymentIntentInfoSuccess.customer</assignToReference>
            <name>customer</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>paymentIntentInfoSuccess.id</assignToReference>
            <name>id</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Stripe_Customer_Info</name>
        <label>Get Stripe Customer Info</label>
        <locationX>407</locationX>
        <locationY>384</locationY>
        <actionName>stripeGC__v01_GetCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Stripe_Variables_For_Parsing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>$Record.stripeGC__Stripe_Account__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customer</name>
            <value>
                <elementReference>paymentIntentInfoSuccess.customer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetCustomers</nameSegment>
        <outputParameters>
            <assignToReference>stripeCustomer.address</assignToReference>
            <name>address</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>stripeCustomer.email</assignToReference>
            <name>email</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>stripeCustomer.id</assignToReference>
            <name>id</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>stripeCustomer.name</assignToReference>
            <name>name</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>stripeCustomer.phone</assignToReference>
            <name>phone</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>stripeCustomer.tax</assignToReference>
            <name>tax</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Stripe_Variables_For_Parsing</name>
        <label>Assign Stripe Variables For Parsing</label>
        <locationX>407</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>donationAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>donatedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donorEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeCustomer.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>customerLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donorStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeCustomer.address.line1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donorCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeCustomer.address.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donorState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeCustomer.address.state</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donorPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>stripeCustomer.address.postalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>donorCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Household_Record_Type_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_The_Donor_Exist</name>
        <label>Does The Donor Exist?</label>
        <locationX>407</locationX>
        <locationY>924</locationY>
        <defaultConnector>
            <targetReference>Get_Household_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>DONOR EXISTENCE CONFIRMED!</defaultConnectorLabel>
        <rules>
            <name>May_Donor_Doesn_t_Exist_Man</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Donor_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Household_Account_Record</targetReference>
            </connector>
            <label>May Donor Doesn&apos;t Exist, Man!</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Donor_Part_Of_A_Household</name>
        <label>Is Donor Part Of A Household?</label>
        <locationX>605</locationX>
        <locationY>1140</locationY>
        <defaultConnectorLabel>Householdless</defaultConnectorLabel>
        <rules>
            <name>HOUSEHELD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Household_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Donation_Opportunity_For_Existing_Household</targetReference>
            </connector>
            <label>HOUSEHELD</label>
        </rules>
    </decisions>
    <description>2023-12-11: When a payment intention comes in that shows that a payment has been received, create a donation from stripe record!</description>
    <environments>Default</environments>
    <formulas>
        <description>This takes the stripe customer name field and splits out the first name</description>
        <name>customerFirstName</name>
        <dataType>String</dataType>
        <expression>LEFT({!stripeCustomer.name}, FIND( &quot; &quot;, {!stripeCustomer.name} ) -1 )</expression>
    </formulas>
    <formulas>
        <description>This takes the stripe customer name and splits it out into first and last name. This formula deals with last name. The formula assumes a standard of first SPACE last name</description>
        <name>customerLastName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!stripeCustomer.name}, LEN({!stripeCustomer.name}) - FIND(&quot; &quot;, {!stripeCustomer.name}))</expression>
    </formulas>
    <formulas>
        <description>This represents the donated amount by dividing the stripe amount by 100 as stripe amounts come in straight numbers e.g. 50 is 5000</description>
        <name>donatedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!paymentIntentInfoSuccess.amount}/100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Stripe - Donation Received Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stripe - Donation Received Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Donation_Opportunity</name>
        <label>Create Donation Opportunity</label>
        <locationX>209</locationX>
        <locationY>1464</locationY>
        <assignRecordIdToReference>donationOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Donation_Payment_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>householdContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!lastName} Household Donation {!donationDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Donation_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Funding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>householdContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Donation_Opportunity_For_Existing_Household</name>
        <label>Create Donation Opportunity For Existing Household</label>
        <locationX>473</locationX>
        <locationY>1248</locationY>
        <assignRecordIdToReference>donationOpportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Donation_Payment_Record_For_Existing_Household</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Household_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Donor_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!Get_Donor_Contact.LastName} Household Donation {!donationDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Donation_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Funding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Contact__c</field>
            <value>
                <elementReference>Get_Donor_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Donation_Payment_Record</name>
        <label>Create Donation Payment Record</label>
        <locationX>209</locationX>
        <locationY>1572</locationY>
        <inputAssignments>
            <field>npe01__Check_Reference_Number__c</field>
            <value>
                <elementReference>paymentIntentInfoSuccess.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>donationOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Donation_Payment_Record_For_Existing_Household</name>
        <label>Create Donation Payment Record For Existing Household</label>
        <locationX>473</locationX>
        <locationY>1356</locationY>
        <inputAssignments>
            <field>npe01__Check_Reference_Number__c</field>
            <value>
                <elementReference>paymentIntentInfoSuccess.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Opportunity__c</field>
            <value>
                <elementReference>donationOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Amount__c</field>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Date__c</field>
            <value>
                <elementReference>donationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Payment_Method__c</field>
            <value>
                <stringValue>Credit Card</stringValue>
            </value>
        </inputAssignments>
        <object>npe01__OppPayment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Household_Account_Record</name>
        <label>Create Household Account Record</label>
        <locationX>209</locationX>
        <locationY>1032</locationY>
        <assignRecordIdToReference>householdId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Address_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>donorCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>donorCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>donorPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>donorState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>donorStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!lastName} Household</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Household_Record_Type_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Contact_For_Household</name>
        <label>Create New Contact For Household</label>
        <locationX>209</locationX>
        <locationY>1248</locationY>
        <assignRecordIdToReference>householdContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Household_Record_With_Contact_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>donorEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__HomeEmail__c</field>
            <value>
                <elementReference>donorEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__PreferredPhone__c</field>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Preferred_Email__c</field>
            <value>
                <stringValue>Personal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Current_Address__c</field>
            <value>
                <elementReference>Get_Address_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npsp__Primary_Affiliation__c</field>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Address_Record</name>
        <label>Get Address Record</label>
        <locationX>209</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Contact_For_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Household_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <filters>
            <field>npsp__Default_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npsp__Address__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record_Type_Id</name>
        <label>Get Donation Record Type Id</label>
        <locationX>407</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donor_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donor_Contact</name>
        <label>Get Donor Contact</label>
        <locationX>407</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_The_Donor_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>donorEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household_Record</name>
        <label>Get Household Record</label>
        <locationX>605</locationX>
        <locationY>1032</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Donor_Part_Of_A_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Donor_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household_Record_Type_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household_Record_Type_Id</name>
        <label>Get Household Record Type Id</label>
        <locationX>407</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donation_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HH_Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Household_Record_With_Contact_Id</name>
        <label>Update Household Record With Contact Id</label>
        <locationX>209</locationX>
        <locationY>1356</locationY>
        <connector>
            <targetReference>Create_Donation_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>householdId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__One2OneContact__c</field>
            <value>
                <elementReference>householdContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>stripeGC__Event_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>payment_intent.succeeded</stringValue>
            </value>
        </filters>
        <object>stripeGC__Stripe_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Payment_Intent_Succeeded</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This is the amount of the donation we want to track!</description>
        <name>donationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>donationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donationOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donorCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donorCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>the email of the donor that we are going to find!</description>
        <name>donorEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donorPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donorState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>donorStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>householdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newContactCreationSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newHouseholdCreationSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>paymentIntentInfoSuccess</name>
        <apexClass>stripeGC__PaymentIntent</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stripeCustomer</name>
        <apexClass>stripeGC__Customer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
